<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || "Patrick Sinclair" %></title>

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item navbar-logo">
            <a class="navbar-link" href="/">Patrick Sinclair</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/blog/">blog</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="container" itemscope itemtype="http://schema.org/Person">
        <link itemprop="url" href="http://www.metade.org">
        <ul class="social-list">
          <li><a itemprop="sameAs" class="twitter" href="http://twitter.com/metade" title="Twitter">Twitter</a></li>
          <li><a itemprop="sameAs" class="github" href="https://github.com/metade" title="GitHub">GitHub</a></li>
          <li><a itemprop="sameAs" class="linkedin" href="http://www.linkedin.com/in/metade">LinkedIn</a></li>
          <li><a class="rss" href="http://feeds.feedburner.com/metade" title="RSS">RSS</a></li>
        </ul>
      </div>
    </footer>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2064050-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
